:root {
    --red: #E93636;
    --red-dark: #C81414;
    --white: white;

    --font-title: 'Fredoka One', sans-serif;
    --font-normal: 'Nunito', sans-serif;

    --shadow-lg: 0 6px 16px var(--red-dark);
}


body, html {
    padding: 0;
    margin: 0;
}

.App {
    background: var(--red);
    display: flex;
    justify-content: center;
    flex-grow: 1;
    color: var(--white);
    align-items: center;
    flex-flow: column;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.title {
    font-family: var(--font-title);
    height: 80px;
    flex: 0 0 80px;
    text-align: center;
}

